input {
  padding: 5px 10px;
  width: 200px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.container {
  margin-top: 60px;
  font-size: 30px;
}

#formSignUp button {
  padding: 5px 20px;
  border-radius: 5px;
  background: none;
  outline: none;
  background-color: orange;
  color: #fff;
}

.displayNone {
  display: none;
}