.container {}

.container .header {
    display: flex;
    width: 100%;
    height: 62px;
    border: 0px solid black;
    background-color: rgb(231, 231, 231);
}

.logo {
    width: 200px;
}

.header .text1 h2 {
    margin-left: 250px;
}

.body1 {
    display: flex;
    margin-top: 10px;
    border: 0px solid black;
    width: auto;
    height: 370px;
}

.row1 {
    margin-left: 220px;
}

.body2 {
    display: flex;
    margin-top: 10px;
    border: 0px solid black;
    width: auto;
    height: 370px;
}

.row2 {
    margin-left: 220px;
}

.footer {
    border: 0px solid black;
    width: auto;
    height: 100px;
    margin-top: 10px;
}